@import "./styles/home.css";

/* botao */

.btn {
    color: var(--color-1);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.812rem;
    letter-spacing: 0.5px;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 50px;
    transition: .3s;
    border: 2px solid var(--primary-color);
    font-family: var(--font-1);
}
.btn:hover {
    background: var(--primary-color);
}